apiVersion: apps/v1
kind: Deployment
metadata:
  name: restful-service-deployment
  labels:
    app: restful-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: restful-service
  template:
    metadata:
      labels:
        app: restful-service
    spec:
      containers:
        - name: restful-service
          image: croubs/restful_service:sha-c8c8f6c
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10